{% extends 'base.html.twig' %}
{% block title %}
    Votre Panier
{% endblock %}
{% block body %}
    <table class="table">
        <thead>
            <tr>
                <th>
                    Id
                </th>
                <th>
                    Image
                </th>
                <th>
                    Nom
                </th>
                <th>
                    Description
                </th>
                <th>
                    quantité
                </th>
                <th>
                    prix
                </th>
                <th>
                    Total
                </th>
            </tr>
        </thead>
        <tbody>
            {% for monpanier in panier %}
                <tr>
                    <td>
                        {{ monpanier.produits.id }}
                    </td>
                    <td>
                        <img src="{{ asset('img/') ~monpanier.produits.imageName }}" class="w-25"></td>
                        <td>
                            {{ monpanier.produits.Nom }}
                        </td>
                        <td>
                            {{ monpanier.produits.Description }}
                        </td>
                        <td>
                            {{ monpanier.quantite }}
                        </td>
                        <td>
                            {{ monpanier.produits.Prix }}
                        </td>
                        <td>
                            {{ monpanier.total }}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <h2>
            Montant Total : 
            {{ total }}
            €
        </h2>
    {% endblock %}
    